@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Parisienne&family=Rubik:wght@400;700&display=swap');

:root {
    --primary-color: #ad8c68;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    padding: 25px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul .navbar-link {
    margin: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.navbar-link a {
    text-decoration: none;
    color: #000;
}

.navbar-link a:hover {
    color: var(--primary-color);
}

.brand .brand-text {
    font-size: 48px;
    margin: 15px;
    font-family: 'Parisienne';
}

.brand .brand-text a {
    text-decoration: none;
    color: var(--primary-color);
}

.shopping-container {
    position: absolute;
    right: 10%;
    font-size: 24px;
    cursor: pointer;
}

.shopping-container .badge {
    background-color: #97a5aa;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    font-size: 8px;
    position: absolute;
    right: -12px;
    top: -8px;
}

.badge p {
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.home-section {
    background-image: url('img/img-person-code.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.home-section .home-intro {
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 220px 0;
}

.home-intro .home-message {
    color: white;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 24px;
    text-shadow: 1px 2px 2px #000000;
}

.button-enroll {
    margin-top: 40px;
}

.button-enroll button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border-color: transparent;
    letter-spacing: 2px;
    cursor: pointer;
}

.button-enroll button:hover {
    opacity: .9;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans';
    padding: 0 20%;
    font-size: 28px;
    font-weight: 600;
}

.feature-section {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.feature-section .feature-list {
    display: flex;
}

.feature-list .feature-item {
    list-style: none;
    margin: 15px;
    text-align: center;
}

.feature-item img {
    width: 100%;
    max-width: 120px;
}

.feature-item h3 {
    color: var(--primary-color);
    font-family: 'Parisienne';
    font-size: 30px;
    margin: 10px auto;
}

.feature-item p {
    margin-bottom: 25px;
}

.feature-item a {
    margin: 10px auto;
    text-decoration: none;
    background-color: #97a5aa;
    border: 3px solid #97a5aa;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
}

.feature-item a:hover {
    opacity: .8;
}

footer {
    background-color: #97a5aa;
    text-align: center;
}

.brand-text.footer-brand {
    color: white;
}

.navbar-link .footer-link:hover{
    color: white;
}

.footer-media {
    width: 320px;
    margin: 10px auto;
}

.footer-media .social-link {
    font-size: 28px;
    color: #686a6b;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.footer-media .social-link:hover {
    opacity: .5;
}

.footer-copy .footer-extras {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.footer-extras .extras-space {
    width: 8px;
    height: 8px;
}

.footer-extras a {
    color: #686a6b;
    text-decoration: none;
}

.footer-extras a:hover {
    opacity: .5;
}

@media screen and (max-width: 1240px) {
    .shopping-container {
        right: 5%;
    }
}